<!doctype html>
<html lang="de">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Obst- und Gartenbauverein - Kloppenheim</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="shortcut icon" href="/images/logo_icon-32x32.png" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet" />
</head>

<body>
  {% include "nav.html" %}
  <!-- HERO -->
  <header class="hero">
    <div class="hero-bg-pattern"></div>
    <div class="hero-content">
      <h1>Zeitungsartikel</h1>
    </div>
  </header>

  <!-- ABOUT -->
  <section class="section">
    <div class="container">
      <p>Die Seite befindet sich aktuell im Aufbau...</p>
    </div>
  </section>

  <hr class="separator" />

  <!-- SOCIAL -->
  {% include "social-media.html" %}

  <!-- FOOTER -->
  {% include "footer.html" %}
  <script src="/js/script.js"></script>
</body>

</html>