<!doctype html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Obst- und Gartenbauverein - Kloppenheim</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/logo_icon-32x32.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% include "nav.html" %}
    <!-- HERO -->
    <header class="hero">
      <div class="hero-bg-pattern"></div>
      <div class="hero-content">
        <h1>Mitglied werden</h1>
      </div>
    </header>

    <!-- ABOUT -->
    <section class="section">
      <div class="container">
        <p>
          Mitglieder haben die Möglichkeit, an den verschiedenen Aktivitäten und Veranstaltungen
          teilzunehmen und ihr Wissen im Bereich Äpfel - Keltern, Most, Apfelwein und auch im
          Gartenbau zu erweitern. Der Verein ist für Menschen jeden Alters offen und freut sich über
          neue Mitglieder, die ihre Leidenschaft für das Stöffche, den Apfelwein, sowie den Erhalt
          und die Pflege von Streuobstwiesen und Gärten teilen.
        </p>
        <p>
          Sie möchten bei uns Mitglied werden und uns bei der Umsetzung unserer Ziele unterstützen?
          Dann laden Sie sich den nachfolgenden Aufnahmeantrag runter und lassen ihn ausgefüllt
          einem Mitglied des Vorstands zukommen
        </p>
        <a href="/files/Aufnahmeantrag_OGV.pdf" class="btn-toggle-past">Pdf-Download</a>
      </div>
    </section>

    <hr class="separator" />

      <!-- SOCIAL -->
  {% include "social-media.html" %}

  <!-- FOOTER -->
  {% include "footer.html" %}
  <script src="/js/script.js"></script>
  </body>
</html>
