RewriteEngine On

# HTTPS + www erzwingen
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\.ogv-kloppenheim\.de$ [NC]
RewriteRule ^ https://www.ogv-kloppenheim.de%{REQUEST_URI} [L,R=301]

# Logs sperren
<FilesMatch "\.log$">
    Require all denied
</FilesMatch>

# senden.php nur per POST erlauben
<Files "senden.php">
    <LimitExcept POST>
        Require all denied
    </LimitExcept>
</Files>

# challenge.php nur per GET erlauben
<Files "challenge.php">
    <LimitExcept GET>
        Require all denied
    </LimitExcept>
</Files>